<li>
  <%= link_to user.name, user %>
  <% if user.admin? %>
    (admin)
  <% end %>
  <% if can? :destroy, user %>
    |
    <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
    :title => "Delete #{user.name}" %>
<% end %>
</li>
