<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
      <h4>Coming soon: my ride statistics</h4>  
      <% if @user.rides.any? %>
        <%= link_to "My Rides", rides_path + "?" + "user_id=#{@user.id}"%>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>Rides</strong> <%= @user.rides.count %>
    </td>
  </tr>
</table>

