<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @rides %>
  </div>
  <%= will_paginate @rides %> 
  <%= render 'shared/update_rides' %>
</div>

<ul class="rides">
  <%= render @rides %>
</ul>

