<div class="profile" summary="Ride information">
  <h1>
    <%= @ride.fusiontable_id %>
  </h1>
  <div id="map_canvas"></div>
  <div id="ride">
    <%= render @ride %> 
  </div>
  <div class="sidebar round">
    <strong>Description</strong><br />
  </div>
</div>
